@import "~@edx/paragon/scss/core/core";

#exam-selector {
  margin: 0.5em auto;
}

.pgn__searchfield .form-control {
  border: 1px solid $search-border-color !important;
}

.pgn__searchfield.has-focus:not(.pgn__searchfield--external)::after {
  border: none;
  width: 0px;
}

// Align modals towards the top of the iframe, as it aligns center (which is awkward to have to scroll to) by default
div.pgn__modal-content-container {
  align-items: start;
  padding-top: 6.5%;
}
